body {
    font-family: 'Montserrat', sans-serif;
    background: #f0f2f5;
    margin: 0;
    padding: 0;
    color: #333;
    max-width: 1400px;
    background-image: url('cool-background 2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.container {
    width: 80%;
    margin: 40px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-weight: 600;
    color: #444;
    margin-bottom: 10px;
}


.about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid #f0f0f0;
}

.about-text {
    width: 65%;
}

.about-text p {
    line-height: 1.6;
}

.about-picture {
    width: 30%;
    text-align: center;
}

.about-picture img {
    width: 80%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.achievements {
    padding: 20px;
    border-bottom: 2px solid #f0f0f0;
    max-width: 80%;
}

.achievements div {
    margin-bottom: 20px;
}


.interests {
    padding: 20px;
    border-bottom: 2px solid #f0f0f0;
}

.image-container{
    max-width: 1200px;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}

.image-container img{
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 8px;
    height: 150px;
    width: 150px;
    padding-left: 20px;
    padding-right: 20px;
}

.hover{
    visibility: hidden;
    width: 140px;
    background-color: transparent;
    backdrop-filter: blur(21px);
    color: black;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.4s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.image-container:hover .hover{
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(-5px);

}


.interests-pictures {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.work {
    padding: 20px;
    border-bottom: 2px solid #f0f0f0;
}

.edu-description {
    line-height: 1.6;
}

/* Contact Section */
.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.contact-picture {
    width: 20%;
}

.contact-picture img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button{
    border: none;
    margin-right: 6px;
    margin-bottom: 6px;
    color: #444;
}

.button:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}
.contact a{
    text-decoration: none;
}